<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MasterLogin</servlet-name>
        <servlet-class>MasterLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBconnect</servlet-name>
        <servlet-class>DBconnect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>Register</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Uploads</servlet-name>
        <servlet-class>Uploads</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>Admin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AESDecrypt</servlet-name>
        <servlet-class>AESDecrypt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IBERegister</servlet-name>
        <servlet-class>IBERegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IBELogin</servlet-name>
        <servlet-class>IBELogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IBEUpload</servlet-name>
        <servlet-class>IBEUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IBEDecrypt</servlet-name>
        <servlet-class>IBEDecrypt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BRegister</servlet-name>
        <servlet-class>BRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BLogin</servlet-name>
        <servlet-class>BLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>bupload</servlet-name>
        <servlet-class>bupload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BlowDecrypt</servlet-name>
        <servlet-class>BlowDecrypt</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FRegister</servlet-name>
        <servlet-class>FRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FLogin</servlet-name>
        <servlet-class>FLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FUpload</servlet-name>
        <servlet-class>FUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FDecrypt</servlet-name>
        <servlet-class>FDecrypt</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MasterLogin</servlet-name>
        <url-pattern>/MasterLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBconnect</servlet-name>
        <url-pattern>/DBconnect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Uploads</servlet-name>
        <url-pattern>/Uploads</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AESDecrypt</servlet-name>
        <url-pattern>/AESDecrypt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IBERegister</servlet-name>
        <url-pattern>/IBERegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IBELogin</servlet-name>
        <url-pattern>/IBELogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IBEUpload</servlet-name>
        <url-pattern>/IBEUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IBEDecrypt</servlet-name>
        <url-pattern>/IBEDecrypt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BRegister</servlet-name>
        <url-pattern>/BRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BLogin</servlet-name>
        <url-pattern>/BLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>bupload</servlet-name>
        <url-pattern>/bupload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BlowDecrypt</servlet-name>
        <url-pattern>/BlowDecrypt</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FRegister</servlet-name>
        <url-pattern>/FRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FLogin</servlet-name>
        <url-pattern>/FLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FUpload</servlet-name>
        <url-pattern>/FUpload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FDecrypt</servlet-name>
        <url-pattern>/FDecrypt</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
